#mt {
    margin: auto;
    width: 600px;
    border: solid 1px black;
    border-radius: 6px;
    box-shadow: 1px 1px 4px inset black;
    background-color: rgb(245, 239, 231);
}
body {
    text-align: center;
    background-color: aquamarine;
    margin: 0px;
    user-select: none;
}
h1 {
    text-shadow: 1px 1px 4px gray;
    color: rgb(11, 42, 47);
    background-color: rgb(224, 211, 237);
    display: inline-block;
    width: 600px;
    border-radius: 7px;
    box-shadow: 1px 1px 4px black;
    padding-top: 8px;
    padding-bottom: 7px;
}
circle {
    cursor: pointer;
    filter: drop-shadow( .4px .4px .6px rgba(0, 0, 0, .3));
}
line {
    filter: drop-shadow( .4px .4px .6px rgba(0, 0, 0, .3));
}